<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://boston/IIS-PaaS/service1.asmx</SiteUrlToLaunchAfterPublish>
    <publishUrl>\\boston\IIS-PaaS</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/IIS-PaaS.dll">
      <publishTime>07/15/2012 23:24:41</publishTime>
    </File>
    <File Include="CreateWebSite.asmx">
      <publishTime>06/07/2012 20:45:14</publishTime>
    </File>
    <File Include="Service1.asmx">
      <publishTime>07/06/2012 16:26:23</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/15/2012 23:03:05</publishTime>
    </File>
  </ItemGroup>
</Project>